.news-wrapper {
  display: grid;
  grid-template-columns: .75fr 1.25fr; }

.news-headlines--group {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (min-width: 1900px) {
    .news-headlines--group {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.news-headline {
  height: 4em;
  background-color: #ecf2ff;
  border-radius: 10px;
  color: #006bb6;
  margin: 5px;
  padding: 10px 15px;
  font-family: "Galano Medium", sans-serif;
  line-height: 1.6em;
  font-size: .9em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%; }
  @media screen and (min-width: 1900px) {
    .news-headline {
      width: 70%; } }

.news-detail--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Galano Medium", sans-serif;
  color: #454545;
  padding: 0 4em; }
  @media screen and (min-width: 1900px) {
    .news-detail--wrapper {
      width: 40em; } }

.news-description--display {
  font-family: "Nunito", sans-serif;
  margin: 1.3em 1.25em;
  line-height: 24px;
  color: #454545; }
  @media screen and (min-width: 1900px) {
    .news-description--display {
      padding: 1em 2em; } }

@media screen and (min-width: 1900px) {
  .news-label--wrapper {
    margin-top: 4em; } }

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: #1390e9; } }

@keyframes hvr-back-pulse {
  50% {
    background-color: #1390e9; } }

.hvr-back-pulse-enter {
  opacity: 0.01;
  width: 30px;
  -webkit-transform: translate(0px, 300px) rotateY(90deg);
  transform: translate(0px, 300px) rotateY(90deg); }

.hvr-back-pulse-enter-active {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  width: 90%;
  -webkit-box-shadow: 0 2px 6px 0px #d6d6d6;
  box-shadow: 0 2px 6px 0px #d6d6d6;
  -webkit-transition: width 700ms, opacity 700ms ease-in, -webkit-transform 700ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: width 700ms, opacity 700ms ease-in, -webkit-transform 700ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: width 700ms, transform 700ms cubic-bezier(0.42, 0, 0.58, 1), opacity 700ms ease-in;
  transition: width 700ms, transform 700ms cubic-bezier(0.42, 0, 0.58, 1), opacity 700ms ease-in;
  transition: width 700ms, transform 700ms cubic-bezier(0.42, 0, 0.58, 1), opacity 700ms ease-in, -webkit-transform 700ms cubic-bezier(0.42, 0, 0.58, 1); }
  @media screen and (min-width: 1900px) {
    .hvr-back-pulse-enter-active {
      width: 70%; } }

.hvr-back-pulse-enter-done {
  width: 90%;
  -webkit-box-shadow: 0 2px 6px 0px #d6d6d6;
  box-shadow: 0 2px 6px 0px #d6d6d6;
  overflow: hidden;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color; }
  @media screen and (min-width: 1900px) {
    .hvr-back-pulse-enter-done {
      width: 70%; } }

.hvr-back-pulse-enter-done:hover, .hvr-back-pulse-enter-done:focus, .hvr-back-pulse-enter-done:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-delay: 0.5s;
  animation-delay: .2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #006bb6;
  background-color: #006bb6;
  color: white;
  -webkit-box-shadow: 0 6px 60px 2px #929292;
  box-shadow: 0 6px 60px 2px #929292;
  -webkit-transform: translate(0px, -2px) scale(1.03);
  -ms-transform: translate(0px, -2px) scale(1.03);
  transform: translate(0px, -2px) scale(1.03);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms; }

.news-emptystate--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #b2b2b2;
  font-family: "Galano Medium", sans-serif;
  text-align: center;
  padding: 3em; }
