@font-face {
  font-family: 'Galano Classic';
  src: url("../assets/Galano Classic.otf"); }

@font-face {
  font-family: 'Galano Medium';
  src: url("../assets/Galano Classic Medium.otf"); }

@font-face {
  font-family: 'Galano Bold';
  src: url("../assets/Galano Classic Bold.otf"); }

@font-face {
  font-family: 'Galano Heavy';
  src: url("../assets/Galano Classic Heavy.otf"); }

@font-face {
  font-family: 'Galano Italic';
  src: url("../assets/Galano Classic Italic.otf"); }

html {
  font-size: 1em; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

.newsWrapper {
  height: 550px;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.newsCollectionWrapper {
  background-color: white;
  width: 350px;
  height: 550px;
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.headline {
  height: 60px;
  background-color: #DDE8FF;
  border-radius: 10px;
  color: #006bb6;
  margin: 10px;
  padding: 10px;
  font-family: "Galano Bold", sans-serif; }

.news-detail--wrapper {
  width: 400px;
  height: 550px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Galano Medium", sans-serif;
  color: #454545; }

.news-description--display {
  font-family: "Nunito", sans-serif;
  margin: 30px 20px;
  line-height: 24px;
  color: #454545; }

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: #1390e9; } }

@keyframes hvr-back-pulse {
  50% {
    background-color: #1390e9; } }

.hvr-back-pulse-enter {
  opacity: 0.01;
  width: 10px;
  -webkit-box-shadow: 0 2px 6px 1px #d6d6d6;
  box-shadow: 0 2px 6px 1px #d6d6d6;
  -webkit-transform: translate(0px, 300px) rotateY(90deg);
  transform: translate(0px, 300px) rotateY(90deg); }

.hvr-back-pulse-enter-active {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  width: 300px;
  -webkit-transition: width 700ms, opacity 700ms ease-in, -webkit-transform 700ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: width 700ms, opacity 700ms ease-in, -webkit-transform 700ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: width 700ms, transform 700ms cubic-bezier(0.42, 0, 0.58, 1), opacity 700ms ease-in;
  transition: width 700ms, transform 700ms cubic-bezier(0.42, 0, 0.58, 1), opacity 700ms ease-in;
  transition: width 700ms, transform 700ms cubic-bezier(0.42, 0, 0.58, 1), opacity 700ms ease-in, -webkit-transform 700ms cubic-bezier(0.42, 0, 0.58, 1); }

.hvr-back-pulse-enter-done {
  width: 300px;
  -webkit-box-shadow: 0 2px 6px 1px #d6d6d6;
  box-shadow: 0 2px 6px 1px #d6d6d6;
  overflow: hidden;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color; }

.hvr-back-pulse-enter-done:hover, .hvr-back-pulse-enter-done:focus, .hvr-back-pulse-enter-done:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-delay: 0.5s;
  animation-delay: .2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #006bb6;
  background-color: #006bb6;
  color: white;
  -webkit-box-shadow: 0 6px 60px 2px #929292;
  box-shadow: 0 6px 60px 2px #929292;
  -webkit-transform: translate(0px, -2px) scale(1.03);
  -ms-transform: translate(0px, -2px) scale(1.03);
  transform: translate(0px, -2px) scale(1.03);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms; }

.news-emptystate--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #b2b2b2;
  font-family: "Galano Medium", sans-serif;
  text-align: center;
  padding: 3em; }
