.relatedSearch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.component-label--display {
  font-size: 1rem;
  font-family: "Galano Heavy", sans-serif;
  color: #454545;
  margin-bottom: 1em;
  padding-left: 1em; }
  @media screen and (min-width: 1900px) {
    .component-label--display {
      font-size: 1.5em; } }

.component-dynamiclabel--display {
  color: #FF9E00; }

#svgWrapper {
  width: 100%;
  height: 70vh; }

.domain {
  display: none; }

.axis line {
  display: none; }

.y text {
  font-family: "Galano Classic", sans-serif;
  fill: white;
  font-size: .75rem;
  cursor: pointer; }

@-webkit-keyframes bar {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); }
  50% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }

@keyframes bar {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); }
  50% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }

@-webkit-keyframes bar-float {
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }

@keyframes bar-float {
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }

.bar {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent; }
  .bar:hover, .bar focus, .bar active {
    cursor: pointer;
    -webkit-animation-name: bar-float, bar;
    animation-name: bar-float, bar;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    opacity: 0.8; }

.relatedsearch-empty--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #b2b2b2;
  font-family: "Galano Medium", sans-serif;
  text-align: center;
  padding: 3em; }
