body {
  font-weight: 400;
  line-height: 1.45;
  background: url("../assets/landingbackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

header {
  margin-top: 0;
  font-size: 5.063em;
  font-weight: 600;
  margin-top: 5vh;
  margin-left: 10vw;
  line-height: 1.15;
  font-family: 'Crimson Text', serif;
  opacity: .94; }
  @media screen and (max-width: 600px) {
    header {
      font-size: 2.5em;
      margin: 0;
      padding: .5em; } }

section {
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  font-family: "Galano Classic", sans-serif;
  text-shadow: 0 0 6px #535353;
  padding-top: 3em; }
  @media screen and (max-width: 600px) {
    section {
      font-size: 1.2em;
      padding: 1em;
      margin-top: -2em; } }
  @media screen and (min-width: 1900px) {
    section {
      font-size: 2.25em;
      margin-top: 5em; } }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -4em;
  margin-bottom: 2em; }

footer {
  font-size: 0.667em;
  text-align: center;
  height: 8vh; }

.landing-wrapper {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

#landing-searching--gradient {
  background: -webkit-linear-gradient(left, #FF9E00, #fff971);
  background: -o-linear-gradient(right, #FF9E00, #fff971);
  background: -moz-linear-gradient(right, #FF9E00, #fff971);
  background: -webkit-gradient(linear, left top, right top, from(#FF9E00), to(#fff971));
  background: -o-linear-gradient(left, #FF9E00, #fff971);
  background: linear-gradient(to right, #FF9E00, #fff971);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#landing-searchbox {
  font-size: 1.5em;
  border-color: white;
  border: none;
  border-radius: 2em;
  padding: .5em;
  width: 22em;
  -webkit-appearance: none;
  opacity: .85;
  font-family: "Galano Medium", sans-serif;
  margin: 2em; }
  @media screen and (max-width: 600px) {
    #landing-searchbox {
      font-size: 1em;
      width: 80vw;
      margin: 1em; } }
  #landing-searchbox:focus {
    border-color: #FF9E00;
    -webkit-box-shadow: 0 0 20px 2px #fff971;
    box-shadow: 0 0 20px 2px #fff971;
    outline: 0; }
  #landing-searchbox::-webkit-input-placeholder {
    color: #b3b3b3;
    opacity: 1;
    /* Firefox */ }
  #landing-searchbox:-ms-input-placeholder {
    color: #b3b3b3;
    opacity: 1;
    /* Firefox */ }
  #landing-searchbox::-ms-input-placeholder {
    color: #b3b3b3;
    opacity: 1;
    /* Firefox */ }
  #landing-searchbox::placeholder {
    color: #b3b3b3;
    opacity: 1;
    /* Firefox */ }
  #landing-searchbox:-ms-input-placeholder {
    color: #b3b3b3; }
  #landing-searchbox::-ms-input-placeholder {
    color: #b3b3b3; }

@media screen and (max-width: 600px) {
  .landing-btn--group {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    margin: 1em;
    width: 80vw; } }

.landing-popular-btn, .landing-random-btn {
  height: 2.75em;
  font-size: 1em;
  margin: 0 2em;
  padding: 0 2em;
  border-radius: .3em;
  font-family: "Galano Medium", sans-serif;
  font-weight: 600;
  color: #006bb6;
  background-color: #fff971;
  border: 0;
  -webkit-box-shadow: 0 2px 41px 0 #999999;
  box-shadow: 0 2px 41px 0 #999999;
  cursor: pointer; }
  .landing-popular-btn:hover, .landing-random-btn:hover {
    background-color: #fffdcd; }
  .landing-popular-btn:focus, .landing-random-btn:focus {
    outline: 0; }

.landing-random-btn {
  background-color: #fffbb2; }
