@font-face {
  font-family: 'Galano Classic';
  src: url("../assets/Galano Classic.otf"); }

@font-face {
  font-family: 'Galano Medium';
  src: url("../assets/Galano Classic Medium.otf"); }

@font-face {
  font-family: 'Galano Bold';
  src: url("../assets/Galano Classic Bold.otf"); }

@font-face {
  font-family: 'Galano Heavy';
  src: url("../assets/Galano Classic Heavy.otf"); }

@font-face {
  font-family: 'Galano Italic';
  src: url("../assets/Galano Classic Italic.otf"); }

html {
  font-size: 1em; }

p {
  margin-bottom: 1.3em;
  line-height: 1.6em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

body {
  color: #006bb6;
  font-family: sans-serif; }

.dashboard-body--display {
  background: white;
  -webkit-transition: background 1000ms ease-in;
  -o-transition: background 1000ms ease-in;
  transition: background 1000ms ease-in; }

h5 {
  color: #bababa; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-template-areas: "h h h h h h h h h h h h" "s s s c c c c c c c c c" "f f f f f f f f f f f f";
  width: 100vw; }

.header {
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sidebar {
  grid-area: s; }

.content {
  grid-area: c;
  background-color: white; }

.footer {
  grid-area: f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.search-input {
  height: 2rem;
  font-size: 1.5rem;
  border: none;
  background-color: #e9e9e9;
  border-radius: 2em;
  padding: .4em;
  font-family: "Nunito", sans-serif; }
  .search-input:focus {
    outline: none; }

.search-send-btn {
  height: 2rem;
  width: 2rem;
  background-color: white;
  color: white;
  border-radius: 2rem;
  border: none;
  background-color: #DDE8FF;
  opacity: .85;
  cursor: pointer; }
  .search-send-btn:hover {
    opacity: 1;
    -webkit-box-shadow: 0 2px 6px 1px #d6d6d6;
    box-shadow: 0 2px 6px 1px #d6d6d6; }
  .search-send-btn:focus {
    outline: 0; }

.search-send-icon--size {
  height: 1.5em; }

.dashboard-suggestion--display {
  font-family: "Galano Bold", sans-serif;
  font-size: 1em;
  color: #989898;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3em;
  text-align: left; }

.dashboard-description--display {
  font-family: "Nunito", sans-serif;
  width: 32em; }
