@font-face {
  font-family: 'Galano Classic';
  src: url("../assets/Galano Classic.otf"); }

@font-face {
  font-family: 'Galano Medium';
  src: url("../assets/Galano Classic Medium.otf"); }

@font-face {
  font-family: 'Galano Bold';
  src: url("../assets/Galano Classic Bold.otf"); }

@font-face {
  font-family: 'Galano Heavy';
  src: url("../assets/Galano Classic Heavy.otf"); }

@font-face {
  font-family: 'Galano Italic';
  src: url("../assets/Galano Classic Italic.otf"); }

html {
  font-size: 1em; }

p {
  margin-bottom: 1.3em;
  line-height: 1.6em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

body {
  color: #006bb6;
  font-family: sans-serif; }

.dashboard-body--display {
  background: white;
  -webkit-transition: background 1000ms ease-in;
  -o-transition: background 1000ms ease-in;
  transition: background 1000ms ease-in; }

h5 {
  color: #bababa; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-template-areas: "h h h h h h h h h h h h" "s s s c c c c c c c c c" "f f f f f f f f f f f f";
  width: 100vw; }

.header {
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sidebar {
  grid-area: s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  grid-area: c;
  background-color: white; }

.footer {
  grid-area: f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#search {
  height: 4vh;
  width: 24vw;
  font-size: 2.5vh;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 9px 0 rgba(0, 107, 182, 0.5);
  box-shadow: 0 2px 9px 0 rgba(0, 107, 182, 0.5); }

#search:focus {
  outline: none; }

#send {
  height: 3.5vh;
  width: 16vw;
  background-color: #006bb6;
  color: white;
  font-size: 2vh;
  border-radius: 3.5vh;
  margin: 1rem; }

.dashboard-suggestion--display {
  font-family: "Galano Bold", sans-serif;
  font-size: 1em;
  color: #989898;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3em;
  text-align: center; }

.dashboard-description--display {
  font-family: "Nunito", sans-serif;
  width: 32em; }
