html {font-size: 1em;}

$orange: #FF9E00;
$yellow: #FFF971;
$primary-font:'Karla', sans-serif;
$blue: #006bb6;

body {
  font-weight: 400;
  line-height: 1.45;
  background: url('../assets/landingbackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

@mixin h1 {
  margin-top: 0;
  font-size: 5.063em;
  font-weight: 600;
}

@mixin h2 {font-size: 3.375em;}

@mixin h3 {font-size: 2.25em;}

@mixin h4 {font-size: 1.5em;}

@mixin smalltext {font-size: 0.667em;}

.landing-wrapper {
  width: 100%;
  height: 96%;
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

header {
  @include h1;
  margin-top: 10vh;
  margin-left: 10vw;
  line-height: 1.15;
  font-family: 'Crimson Text', serif;
  opacity: .94;
}

#searching {
  background: -webkit-linear-gradient(left, $orange , $yellow);
  background: -o-linear-gradient(right, $orange, $yellow);
  background: -moz-linear-gradient(right, $orange, $yellow);
  background: linear-gradient(to right, $orange , $yellow); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  @include h3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $primary-font;
  letter-spacing: -.03em;
  text-shadow: 0 0 6px #535353;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10em;
}

footer {
  @include smalltext;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-searchbox--display {
  @include h3;
  border-color: white;
  border: none;
  border-radius: 2em;
  padding: .5em;
  width: 20em;
  -webkit-appearance: none;
  opacity: .7;

  &:focus {
    border-color: $orange;
    box-shadow: 0 0 20px 2px $yellow;
    outline: 0;
  }

  &::placeholder {
    color:#7f7f7f;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    color: #7f7f7f;
  }

  &::-ms-input-placeholder {
    color: #7f7f7f;
  }
}

.landing-searchbutton--group {
  margin-top: 2em;
}

.landing-searchbutton--display {
  height: 2.5em;
  font-size: 1em;
  margin: 0 2em;
  padding: 0 2em;
  border-radius: .3em;
  font-family: $primary-font;
  font-weight: 600;
  color: $blue;
  background-color: $orange;
  border: 0;
  box-shadow: 0 2px 41px 0 #999999;

  &:hover {
    background-color: $yellow;
    color: #4f4f4f;
  }
  &:focus {
    outline: 0;
  }
}